.pantry {
    background-color:grey;
    width: 250px;
    height: 150px;
    margin: 10px;
    border-style:double
}
.freezer {
    background-color:grey;
    width: 250px;
    height: 150px;
    margin: 10px;
    border-style:double
}

h1 {
    text-align: center;
}

h2 {
    background-color:burlywood;
    text-align: left;
    text-decoration: solid;
    border-style: dashed;
    height: 35px;
    width: 785px;
    padding-left: 10px;
    margin: 8px;
    
}
section {
    display:flex
}

img {
    border-style: double;
    margin-top: 11px;
    width: 250px;
    height: 150px;
    padding: auto;
}

h3 {
    margin-left: 15px
}

/* #frozen { 
    border-style: double;
    margin-top: 11px;
    width: 205px;
    height: 150px;
} */